html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightblue;
}

body {
  background-color: rgb(76, 76, 117);
}

header {
  background-color: rgb(68, 68, 90);
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

nav a {
  float: right;
  margin: 10px;
}

main {
  margin-top: 100px;
  text-align: center;
}

.feature {
  padding: 50px 50px;
}

p {
  text-align: center;
  width: 50%;
  margin: auto;
}

figure {
  padding-left: 50px;
  padding-top: 50px;
}

.contact {
  padding: 50px 50px;
}

form {
}

.text-field {
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 5px;
}

.email-field {
  margin-left: 50px;
  padding: 5px;
}

button {
  color: black;
  padding: 5px;
}

footer {
  background-color: rgb(68, 68, 90);
  padding: 30px;
  text-align: center;
}
